extends layout

block content


    section#landing

        .container

            br
            br

            h2.text-center ¿Qué es el SuperHappyDevHouse?

            h3.text-center El SuperHappyDevHouse es una reunión informal de personas intelectualmente curiosas, apasionadas por la tecnología en el que construímos cosas por la simple satisfacción de hacerlo. Promovemos una cultura de apertura y manos a la obra.

            br
            br

            .row
                .col-lg-4.text-center
                    i.fa.fa-code.fa-5x.text-primary
                    br
                    br
                    hr
                    p El
                        b  SHDH es tecnológicamente agnóstico
                        | . Es tan válido trabajar con software como con hardware. Es tan aceptable trabajar con tecnologías de fuente abierta y libre como con herramientas propietarias. El SHDH es tan inclusivo que puedes hacer en él carpintería o alta cocina.

                .col-lg-4.text-center
                    i.fa.fa-users.fa-5x.text-success
                    br
                    br
                    hr
                    p En el SHDH la gente trabaja, construye, teclea, dibuja, solda, martilla y programa, entre otras cosas.
                        b El intercambio de ideas y conocimientos es una consecuencia
                        |  de esto, no una actividad primaria de la fiesta.

                .col-lg-4.text-center
                    i.fa.fa-code-fork.fa-5x.text-primary
                    br
                    br
                    hr
                    p A pesar de las apariencias,
                        b el SHDH no se trata de ser productivo ni de ser competitivo
                        | ; simplemente consiste en
                        b  hacer lo que nos gusta
                        |  hacer y pasar un buen rato con otras personas que piensan como nosotros.

            br
            br

            .alert.alert-info.text-center
                p La mayoría de los asistentes son desarrolladores de software, pero si tu haces algo diferente, eres bienvenido.

            br
            br


    section#rsvp

        .container.text-center

            br
            br

            if everyauth.loggedIn


                if req.session.auth.facebook

                    form.form-horizontal(action='/users', method='POST', role='form')
                        .form-group
                            img(src='http://graph.facebook.com/' + req.session.auth.facebook.user.username + '/picture?type=large')
                            h2= req.session.auth.facebook.user.name
                        .form-group
                            textarea.form-control(name="activity", placeholder="¿Que actividad realizaras?")
                            p.help-block e.g. Networking, trabajar en proyecto X, construir hardware, etc.
                        .form-group
                            input(type='hidden', name='id', value=req.session.auth.facebook.user.id)
                            input(type='hidden', name='name', value=req.session.auth.facebook.user.name)
                            input(type='hidden', name='email', value=req.session.auth.facebook.user.email)
                            input(type='hidden', name='avatar', value='http://graph.facebook.com/' + req.session.auth.facebook.user.username + '/picture?type=large')
                            input(type='hidden', name='login_by', value='facebook')
                            input(type='hidden', name='profile', value=req.session.auth.facebook.user.link)
                            button.center-block.btn.btn-primary(type='submit') Enviar

                if req.session.auth.github

                    form.form-horizontal(action='/users', method='POST', role='form')
                        .form-group
                            img(src=req.session.auth.github.user.avatar_url)
                            h2= req.session.auth.github.user.name
                        .form-group
                            textarea.form-control(name="activity", placeholder="¿Que actividad realizaras?")
                            p.help-block e.g. Networking, trabajar en proyecto X, construir hardware, etc.
                        .form-group
                            input(type='hidden', name='id', value=req.session.auth.github.user.id)
                            input(type='hidden', name='name', value=req.session.auth.github.user.name)
                            input(type='hidden', name='email', value=req.session.auth.github.user.email)
                            input(type='hidden', name='avatar', value=req.session.auth.github.user.avatar_url)
                            input(type='hidden', name='login_by', value='github')
                            input(type='hidden', name='profile', value=req.session.auth.github.user.html_url)
                            button.center-block.btn.btn-primary(type='submit') Enviar

                if req.session.auth.twitter

                    form.form-horizontal(action='/users', method='POST', role='form')
                        .form-group
                            img(src=req.session.auth.twitter.user.profile_image_url)
                            h2= req.session.auth.twitter.user.name
                        .form-group
                            textarea.form-control(name="activity", placeholder="¿Que actividad realizaras?")
                            p.help-block e.g. Networking, trabajar en proyecto X, construir hardware, etc.
                        .form-group
                            input(type='hidden', name='id', value=req.session.auth.twitter.user.id)
                            input(type='hidden', name='name', value=req.session.auth.twitter.user.name)
                            input(type='hidden', name='email', value=req.session.auth.twitter.user.email)
                            input(type='hidden', name='avatar', value=req.session.auth.twitter.user.profile_image_url)
                            input(type='hidden', name='login_by', value='twitter')
                            input(type='hidden', name='profile', value=req.session.auth.twitter.user.screen_name)
                            button.center-block.btn.btn-primary(type='submit') Enviar

            else

                h2 Registro

                p Es importante que registres tu asistencia, nos ayudará con la logística y de la misma manera puedes dar a conocer en lo que estarás trabajando, utiliza el método de registro de tu elección:

                br
                br

                a.btn.btn-social.btn-facebook(href='/auth/facebook')
                    i.fa.fa-facebook
                    | Sign in with Facebook

                &nbsp;

                a.btn.btn-social.btn-twitter(href='/auth/twitter')
                    i.fa.fa-twitter
                    | Sign in with Twitter

                &nbsp;

                a.btn.btn-social.btn-github(href='/auth/github')
                    i.fa.fa-github
                    | Sign in with Github

                &nbsp;

                a.btn.btn-social.btn-success(data-toggle='modal', href='#modal-email-register')
                    i.fa.fa-envelope
                    | Sign in with Email

            br
            br


        #modal-email-register.modal.fade
            .modal-dialog
                .modal-content
                    .modal-header
                        button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
                        h4.modal-title Registro
                    .modal-body
                        form.form-horizontal(action='/users', method='POST', role='form', required)

                            .form-group
                                input.form-control(type='text', name="name", placeholder="Nombre", required)

                            .form-group
                                input.form-control(type='email', name="email", placeholder="Correo", required)

                            .form-group
                                textarea.form-control(name="activity", placeholder="¿Que actividad realizaras?")
                                p.help-block e.g. Networking, trabajar en proyecto X, construir hardware, etc.

                            .modal-footer
                                input(type='hidden', name='uid', value='0')
                                input(type='hidden', name='login_by', value='email')
                                input(type='hidden', name='profile', value='N/A')
                                button.btn.btn-default(type='button', data-dismiss='modal') Cancelar
                                button.btn.btn-primary(type='submit') Enviar



    section#map

        .container.text-center

            br
            br

            h2 Ubicación
            p El evento se llevará acabo en
                a(href='https://www.facebook.com/coworkingnest', target='_blank')  NEST
            p Av. 10 entre calle 38 y 40 norte, 77720 Playa del Carmen, Quintana Roo

            br
            br

        div#gmap


    section#registered

        .container

            br
            br

            h2.text-center= "Lista de asistentes (" + users.count + ")"

            br
            br

            if users.count > 0

                table.table.table-striped.table-hover.table-responsive
                    thead
                        tr
                            th
                            th
                            th.text-center Nombre
                            th.text-center ¿Qué actividad voy a hacer?
                    tbody
                        each user in users.rows

                            tr.text-center
                                td
                                    img.img-rounded.user-avatar(src=user.avatar)
                                td
                                    if user.login_by == "facebook"
                                        a.btn.btn-lg.btn-social-icon.btn-facebook(href=user.profile target='_blank')
                                            i.fa.fa-facebook
                                    if user.login_by == "twitter"
                                        a.btn.btn-lg.btn-social-icon.btn-twitter(href='https://twitter.com/' + user.profile target='_blank')
                                            i.fa.fa-twitter
                                    if user.login_by == "github"
                                        a.btn.btn-lg.btn-social-icon.btn-github(href=user.profile target='_blank')
                                            i.fa.fa-github
                                    if user.login_by == 'email'
                                        a.btn.btn-lg.btn-social-icon.btn-success
                                            i.fa.fa-envelope
                                td!= user.name
                                td!= user.activity

            else

                .text-center

                    a.btn.btn-lg.btn-primary.btn-social(href='#rsvp')
                        i.fa.fa-ticket
                        |  Registrate


            br
            br


    section#faq

        .container

            br
            br

            h2.text-center Preguntas Frecuentes

            br
            br

            h3 ¿Qué necesito llevar?
            p Tu computadora portatil o el equipo que necesites para trabajar, probablemente hagan falta extenciones o multicontactos, así que si la iniciativa de traer alguna no estará de más.

            h3 ¿Qué costo tiene el evento?
            p El evento no tiene ningún costo, pero sería buena idea al final recolectar algo de dinero para el café y otras cosas que podemos consumir en el lugar.

            br
            br

    section#sponsors

        .container.text-center

            br
            br

            h2 Patrocinan

            br
            br

            a(href='https://www.facebook.com/coworkingnest', target='_blank')
                img.img-rounded(src='/images/nest.png')

            &nbsp;

            a(href='http://convert.com', target='_blank')
                img.img-rounded(src='/images/convert.png')

            br
            br
