doctype html
html
  head
    title= title
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Montserrat:400,700')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Maven+Pro:400,900,700,500')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/style.min.css')
    link(rel='icon', href='/images/favicon.png')
    script(src='//code.jquery.com/jquery.js')
    script(src='//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js')
    script(src='//maps.google.com/maps/api/js?sensor=true&.js')
    script(src='/javascripts/gmaps.js')
    script(src='/javascripts/application.js')
  body

    section#page-header.text-center

        header
            div#shdh-logo
                div#sl-inner
                    div#sl-inner-square

        ahead

            h1 #{title}
                br
                small {5th edition}

            .alert.alert-warning.container.text-center
                p
                    i.fa.fa-calendar
                    |  Sábado 25 de Octubre del 2014 de 10 am a 4 pm

            a.btn.btn-lg.btn-primary.btn-social(href='#rsvp')
                i.fa.fa-ticket
                |  Registrate

        .clearfix

        br

    block content


    section.footer
        footer.container.text-center
            h3 #{title}
            p
                a(href='https://github.com/ricrdo/shdhplaya') { código fuente }
