// Bootstrap
@import 'bootstrap/bootstrap.less';

// Social buttons
@import 'bootstrap-social.less';


@heading_font: 'Maven Pro';
@base_font: 'Montserrat';

body {

    background: url(http://subtlepatterns.com/patterns/pw_maze_white.png);

    h1, h2, h3, h4, h5, h6 {

        font-family: @heading_font;

    }

    section {
        -webkit-box-shadow: inset 0 10px 10px -10px rgba(0,0,0,0.5);
        -moz-box-shadow: inset 0 10px 10px -10px rgba(0,0,0,0.5);
        box-shadow: inset 0 10px 10px -10px rgba(0,0,0,0.5);
    }

    #shdh-logo:hover {

        transform: rotate(-4deg);
        -webkit-transform: rotate(-4deg);

    }

    #shdh-logo {

        background: rgb(255, 186, 0);
        border: 6px solid #fff;
        height: 256px;
        margin: 50px auto;
        position: relative;
        transform: rotate(-6deg);
        -webkit-transform: rotate(-6deg);
        width: 256px;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        transition: all 0.5s ease;

        #sl-inner {

            background: rgb(255, 159, 0);
            border-top: 10px solid #fff;
            border-right: 10px solid #fff;
            bottom: 0;
            height: 65%;
            left: 0;
            position: absolute;
            width: 65%;

            #sl-inner-square {

                background: rgb(255, 137, 0);
                border-top: 10px solid #fff;
                border-right: 10px solid #fff;
                bottom: 0;
                height: 60%;
                left: 0;
                position: absolute;
                width: 60%;

            }

        }

    }

    section#page-header {

        background: @gray-darker;
        color: @gray-lighter;
        padding: 20px;

        h1 {
            color: @gray-lighter;
        }

    }

    #rsvp, #registered, #sponsors {
        background: #fff;
    }

    #gmap {

        height: 500px;
        width: 100%;

    }

    section.footer {

        background: @gray-darker;
        color: @gray-lighter;
        font-size: 0.8em;
        padding: 50px;

        h3 {
            color: @gray-lighter
        }

    }

    .user-avatar {
        width: 128px;
    }

}
